body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin:0;
    padding:0;
}

.base-container {
    padding: 0px;
}

.navbar {
    padding: 0px 15% !important;
}

.navbar-nav {
    align-items: center;
}

.bg-primary {
    background-color: #347cb1 !important;
}

.me-2 {
    border-radius: 99px;
    padding: 5px 20px;
    margin-right: 0px !important;
}

.c-form {
    width: inherit;
}

.search-box {
    margin: 10px 0;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #0095ff;
}

#main-search-input {
    color: #c4c4c4;
}

.ms-n5 {
    margin-left: -40px !important;
    color: #0095ff;
}

.c-jumbo {
    background-color: #2a5371;
    color: #f9f9f9;
    padding: 0 16%;
    max-height: 310px;
}

.c-hero-group, .c-hero-item {
    padding: 0;
    width: inherit;
    align-items: baseline;
    margin-bottom: 10px;
}

.c-hero-item {
    margin-right: 70px;
}


.jumbotron {
    padding-top: 50px;
    padding-bottom: 50px;
}

.display-4 {
    font-size: 16px;
    font-weight: 700;
}

.display-7 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.display-3 {
    font-size: 16px !important;
    margin-bottom: 20px;
}

.btn-c-1 {
    border-radius: 99px;
    background-color: #347cb1;
    font-size: 18px;
    padding: 10px 40px;
}

.btn-c-2 {
    border-radius: 99px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
}

.hero-avatar img {
    border-radius: 999px;
    margin-right: 20px;
}

.hero-image-flex {
    padding: 0;
    margin-right: -100px;
}

.hero-image {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin-left:-100px;
    object-fit: cover;
}

.hero-image img {
    width: 310px;
}

.content-sections {
    margin-top: 80px;
}

.section-header {
    margin-bottom: 20px;
}

.header {
    font-size: 25px;
    font-weight: 700 !important;
    color: #347cb1;
}

.nav-arrows {
    font-size: 30px;
    color: #c5c5c5;
}

.button:disabled {
    opacity: .5;
}
.space {
    margin: 0px 10px;
}

.content-box {
    /* background-color: #c5c5c5; */
    margin: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-shadow: 5px 10px 20px #e5e5e5;
    flex-direction: column;
    flex-shrink: 5;
}

.content-text {
    padding: 20px 25px 25px 30px;
}

.c-type h4 {
    font-size: 14px;
    font-weight: 700;
    color: #347CB1;
    margin-bottom: 5px;
}

.c-title h3 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
}

.c-desc p {
    font-size: 14px;
    font-weight: 500;
    color: #8F8F8F;
    margin-bottom: 20px;    
}

.start-button {
    border-radius: 99px;
    padding: 8px 15px;
    background-color: #CCCCCC;
    font-size: 14px;
    color: #8F8F8F;
    border-color: #CCCCCC;
}

.learn-more-button {
    padding: 8px 15px;
    font-size: 14px;
    color: #347CB1;
}

.c-image {
    background-color: #347CB1;
    width: 100%;
    height: 20px;
    min-height: 20px;
}

.content-box.active {
    flex-shrink: 4;
    transition: flex-shrink 0.3s;
}

.content-box.active .c-image {
    height: 130px;
    transition: height 0.3s;
}


/* Article-list-page */


.article-list {
    height: 100vh;
    padding-top: 1rem;
    background-color: rgb(233, 233, 233);
    display:flex;
    flex-direction: row;
    overflow-y: scroll;
}

.filter-container {
    box-sizing: border-box;
    width: 20vw;
    margin-left: .5rem;
    height: 20rem;
    border: .2px solid black;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px black;
    
    
}

.filter-inner-container h4 {
    text-decoration: underline;
    font-size: 1.2rem;
    text-align: center;
    color:#347CB1;
}

.filter-list {
    list-style-type: none;
}

.filter-list li a{
    text-decoration: none;
    color:black;
}

.filter-list li a:hover {
    color: #347CB1;
}

.filter-inner-container{
    display: flex;
    flex-direction: column;
    width: 15vw;
    line-height: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.filter-inner-container input {
    float: right;
}

.filter-submit {
    padding-top: 1rem;
}

.filter-submit button {
    border-radius: 10px;
    background-color: #347cb1;
    color: white;
}

.filter-submit button:hover {
    background-color: white;
    color: black;
}


.list-header {
    text-align: center;
    color:#347cb1;
}

.list-container {
    padding: 2rem 2rem 10rem 7rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height:85vh;
    width: 80vw;
    overflow-y: scroll;
    
}



.card {
    width: 50rem;
    text-align: center;
    padding:.5rem;
    box-shadow: 0px 3px 4px 0px black;
}

.article_btn {
    text-decoration: none;
    color:black;
    width: 48.8rem;
    border-radius: 5px;
    background-color: #347cb1;
    border: 1px solid black;
}

.article_btn:hover {
    color:white;
    border: 3px solid white;
}

/* Detail Page */
.outer-container {
    background-color: lightgrey;
    padding-top:5rem;
}

.detail-container {
    margin: 0rem 12rem 0rem 12rem;
    align-items: center;
    padding: 1rem;
    width: 70vw;
    height:80vh;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
}

.inner-detail {
    text-align: center;
    
}

.inner-detail a {
    color:#347cb1;
}

.inner-detail a:hover {
    color:black;
    cursor:pointer;
}
.detail-header {
    padding-bottom:.2rem;
    border-bottom: .5px solid black;
}

.detail-header h2 {
    font-weight: 200;
    color: lightsalmon;
}

.detail-header h4 span {
    color: lightsalmon;
    font-size: 20px;
    font-weight: 200;
}

.detail-header h4 {
    font-size: 20px;
    padding-bottom: 5px;
}
.detail-par  {
    word-wrap: break-word ;
    overflow-y: scroll;
    height: 260px;
    padding-top: 20px;
    
}

.detail-header a {
    width: 75px;
    margin-bottom: 10px;
}

.detail-header a:hover {
    color: white;
    border: 2px solid white;
}

/* Profile Page */

.profile-wrapper div{
    
}