{% extends 'base.html' %}

<title>{% block title %}Enjoy This Post{% endblock title %}</title>
{% block content %}
<div class="outer-container">
    <div class="detail-container" style="width:70vw; height: 80vh;" >
    <div class="card-container">
        <div class="inner-detail" >
            
                <h2 >{{ article.title }}</h2>
                <h4><span>Author: </span> {{ article.author }}</h4>
                <h5>{{ article.date }}</h5>
                <hr>
                {% if request.user == article.author or user.is_staff or user.is_superuser %}
                <a href="{% url 'article_delete' article.id %}" class="btn">Delete</a>
                <a href="{% url 'article_edit' article.id %}" class="btn">Edit</a>
                {% endif %}
                <a href="{% url 'article_list' %}" class="btn">Back</a>
            </div>
            <hr>
            <div  style="width:650px; ">
                <p> {{ article.body }} </p>
            </div>
        </div>
    </div>
    
</div>
</div>

    
{% endblock content %}