{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

<div class="article-list">
    <div class="filter-container">
        <div class="filter-inner-container">
            <h4>Category Filter:</h4>
                
                <ul id="category" class="filter-list" name="category">
                    <li><a href="{% url 'article_list' %}"> All Articles</a></li>
                    {% for category in articles %}
                    {% if category.id == 1 %}
                    <li value="{{ category.category.name }}"><a href="{% url 'category' category.category.id %}">{{ category.category.name }}</a></li>
                    {% endif %}
                    {% if category.id == 2 %}
                    <li value="{{ category.category.name }}"><a href="{% url 'category' category.category.id %}">{{ category.category.name }}</a></li>
                    {% endif %}
                    {% if category.id == 3 %}
                    <li value="{{ category.category.name }}"><a href="{% url 'category' category.category.id %}">{{ category.category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                
        </div>
    </div>
    <div class="list-wrapper">
        <div class="list-header">
            <h1>Legal Articles</h1>
        </div>
        
        <div class="list-container">
            
            {% for article in category_articles %}
            
            <div class="card" >
                <div class="inner_card">
                    <h3>{{ article.title }}</h3>
                    <h5>{{ article.author.first_name }} {{ article.author.last_name }}</h5>
                    <br><hr>
                    <p>{{ article.description }}</p>
                </div>
                
                <a class="article_btn" href= "{% url 'article_detail' article.id %}">View <a>
                
            </div>
            
            {% endfor %}
        </div>
    </div>
</div>




{% endblock content %}